@import "Colors.sass"
@import "Fonts.sass"
@import "animations.sass"
@import "misc.sass"

body
    user-select : none
    font-family : openR 
    margin : 0 
    padding : 0
    background : $white
    transition : 0.3s ease-out 
    &::-webkit-scrollbar 
        width : 10px
    &::-webkit-scrollbar-track 
        background : #f1f1f1
    &::-webkit-scrollbar-thumb 
        background : $black
        border-radius : 2px
    &::-webkit-scrollbar-thumb:hover 
        background : $redish

button 
    width : 534px
    height : 110px
    border : none
    color : $white
    border-radius : 55px
    font-size : 26px
    font-family : openB 
    box-shadow : 0px 3px 6px $shadow   
    transition : 0.3s ease-out
    cursor : pointer
    transform : scale(0.95)
    outline : none 
    margin : auto
.pinkbtn
    background : $orange
    &:hover
        background : $redish 
        box-shadow : 0px 10px 20px $shadow2 
        transform : scale(1)
    &:active
        transform : scale(0.9)
        
.redishbtn
    background : $redish
    &:hover
        background : $black
        box-shadow : 0px 10px 20px $shadow2 
        transform : scale(1)
    &:active
        transform : scale(0.9)