@import "Colors.sass"
@import "Fonts.sass"
@import "animations.sass"
body
    user-select : none
    font-family : openR 
    margin : 0 
    padding : 0
    background : $white
    transition : 0.3s ease-out 