.qnav
    width : 615px
    display : flex
    justify-content : space-between
    margin : auto
    padding-top : 69px
    h1
        font-family : openB
        font-size : 20px
        height : 27px
        color : $black
        cursor : pointer
        transition : 0.3s ease-out
        padding-bottom : auto
        margin-bottom : 20px
        border-bottom : 2px solid $white
        &:hover
            color : $redish
            margin-bottom : 0
            padding-bottom : 20px
            border-bottom : 2px solid $redish
        &:active
            color : $pink
            border-bottom : 2px solid $pink
    .redish
        color : $redish